body, html {
    background-image: url(/img/bgd2.jpg);
    background-position: center;
    background-repeat:inherit;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    max-width: fit-content;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 120px;
    font-weight: lighter;
    text-align: flex-start;
    margin-left: 5%;
    margin-top: 1%;
    color:whitesmoke;
    
}

#navigation-menu {
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: transparent;
    margin-left: 45%;
    margin-right: 5%;
    margin-top: -15%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

a {
    color: whitesmoke;
    flex-direction: row;
    justify-content: right;
}

#menu img {
    height: auto;
    width: 300px;
    display: flexbox;
}

* {
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.home-header {
    font-size: 40px;
    color: transparent;
    text-shadow: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30%;
    margin-top: 20%;
}

.restaurant-description {
    border-style: groove;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    margin: -25% 0 10% 0;
    font-size: 30px;
}

#team-header {
    font-size: 32px;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: ridge;
    border-width: 4px;
    border-color: beige;
}

#ivanchef {
    justify-content: flex-start;
    align-self: center;
    order: 1;
    text-align: center;
    font-size: 24px;
}

#roxychef {
    justify-content: flex-end;
    align-self: center;
    order: 2;
    text-align: center;
    font-size: 24px;
}

#donnachef {
    justify-content: flex-start;
    align-self: center;
    order: 3;
    text-align: center;
    font-size: 24px;
}

#rickchef {
    justify-content: flex-end;
    align-self: center;
    order: 2;
    text-align: center;
    font-size: 24px;
}

.team img {
    width: 400px;
    height: auto;
    border-radius: 100px;
}
